{% extends "base/base.html" %}
{% block title %} Confirmar Pedido {% endblock title %}

{% block content %}

<form method="post" class="form">
    {% csrf_token %}
    
    {{ form.descripcion.label_tag }}
    {{ form.descripcion }}
    <br>
    
    {{ form.fecha.label_tag }}
    {{ form.fecha }}
    <br>
    
    {{ form.cantproduct.label_tag }}
    {{ form.cantproduct }}
    <br>
    
    {{ form.subtotal.label_tag }}
    {{ form.subtotal }}
    <br>
    
    {{ form.iva.label_tag }}
    {{ form.iva }}
    <br>
    
    {{ form.total.label_tag }}
    {{ form.total }}
    <br>
    
    {{ form.totalint.label_tag }}
    {{ form.totalint }}
    <br>

    <!-- Otros campos visibles pero no editables -->
    {{ form.almacen.label_tag }}
    {{ form.almacen }}
    <br>
    
    {{ form.lugar.label_tag }}
    {{ form.lugar }}
    <br>
    
    {{ form.cliente.label_tag }}
    {{ form.cliente }}
    <br>

    <!-- ... (otros campos del formulario) ... -->
    <button type="submit" class="btn btn-outline-success">Agregar Pedido</button>
    <a href="{% url 'core:Catalogo' %}" class="btn btn-primary">Volver al Catálogo</a>
</form>

<!-- Cuadro flotante de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">¡Pedido creado exitosamente!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>El código de tu pedido es: <span id="pedidoCodigo"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script>
  // Manejo del éxito del formulario
  document.getElementById('confirmar-pedido-form').addEventListener('submit', function(event) {
    event.preventDefault();
    
    // Simular una respuesta exitosa del servidor (puedes eliminar esto en tu implementación real)
    // Aquí puedes agregar tu lógica AJAX para enviar el formulario al servidor
    var codigoPedido = "GENERAR_CÓDIGO_AQUÍ";  // Reemplaza esto con la lógica real para obtener el código del pedido
    
    // Mostrar el cuadro flotante de éxito
    $('#successModal').modal('show');
    document.getElementById('pedidoCodigo').innerText = codigoPedido;
  });
</script>

{% endblock content %}