{% extends "base/base.html" %}
{% block title %} Catalogo {% endblock title %}

{% block content %}

<div class="container-fluid">
    <h1 class="mt-4">Hello Catalogo</h1>

    <div class="row mt-4">
        <!-- Catálogo de productos/materiales en la izquierda -->
        <div class="col-md-9">
            <div class="row">
                {% for Material in Materiales %}
                    <div class="col-md-3 col-sm-12 col-lg-4 mb-4">
                        <div class="card" style="width:100%;">
                            <img src="{{ Material.imagen.url }}" style="width: 100%;" class="card-img-top" alt="{{ Material.nombre }}" />
                            <div class="card-body">
                                <h5 class="card-title">{{ Material.nombre }}</h5>
                                <p class="card-text">{{ Material.descripcion }}</p>
                                <p class="card-text">${{ Material.precioventa }}</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="{% url 'core:agregar_material' pk=Material.codigo %}" class="btn btn-success">Agregar al carrito</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Carrito de compras en el lado derecho -->
        <div class="col-md-3">
            <div class="card border-primary mb-3">
                <div class="card-header text-center bg-primary text-white">CARRITO</div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">PRECIO</th>
                                <th scope="col">CANTIDAD</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if request.session.carrito.items %}
                                {% for key, value in request.session.carrito.items %}
                                    <tr>
                                        <td>{{ value.nombre }}</td>
                                        <td>${{ value.acumulado }}</td>
                                        <td>
                                            {{ value.cantidad }}
                                            <div class="btn-group" role="group">
                                                <a href="{% url 'core:restar_material' value.material_codigo %}" class="btn btn-dark">-</a>
                                                <a href="{% url 'core:agregar_material' value.material_codigo %}" class="btn btn-dark">+</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3">
                                        <div class="alert alert-danger text-center"> Sin Productos </div>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th scope="row">Total:</th>
                                <td colspan="2">${{ total_carrito }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'core:limpiar_carrito' %}" class="btn btn-danger">Limpiar</a>
                    <a href="{% url 'core:pedido_creo' %}" class="btn btn-success">Guardar</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}
