{% extends "base/base.html" %}

{% block title %}
  Crear resenas
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form.descripcion.label_tag }}
        {{ form.descripcion }}
        {{ form.cliente.label_tag }}
        {{ form.cliente }}
        
        <button type="submit" class="btn btn-outline-success">Agregar resenas</button>
        <a href="{% url 'core:list_resena' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}


