{% extends "base/base.html" %}

{% block title %}
  Eliminar resena
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Estás seguro de que deseas eliminar la resena numero "{{ object.codigo }}"?
        <button type="submit" class="btn btn-outline-danger">Eliminar Resena</button>
        <a href="{% url 'core:list_resena'%}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}


