{% extends "base/base.html" %}

{% block title %}
  DETAIL RESENA VIEW
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ object.nombre }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Numero de la resena: {{ object.codigo }}</strong> <br>
          Descripcion: {{ object.descripcion }} <br>
          Fecha: {{ object.fecha }}
          Cliente: {{ object.cliente }}
          
        </div>
      </div>
    </div>
</div>

<a href="{% url 'core:list_resena' %}">Volver a la lista de resenas</a>
{% endblock content %}
