{% extends 'base/base.html' %}
{% block title %} LIST Resenas {% endblock title %}

{% block content %}
    <a href="{% url 'core:create_resena' %}" class="btn btn-outline-success form-control">Anadir nueva resena</a>
    <h1>Listado de Resenas</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Numero de la resena</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>cliente</th>
                
            </tr>
        </thead>
        <tbody>
            {% for Resena in Resenas %}  
                <tr>
                    <td>{{ Resena.codigo }}</td>
                    <td>{{ Resena.descripcion }}</td>
                    <td>{{ Resena.fecha }}</td>
                    <td>{{ Resena.cliente.nombre }}</td>
                    
                    <td>
                        <a href="{% url 'core:detail_resena' Resena.codigo %}" class="btn btn-outline-info">Detalles</a>
                        <a href="{% url 'core:update_resena' Resena.codigo %}" class="btn btn-outline-warning">Actualizar</a>
                        <a href="{% url 'core:delete_resena' Resena.codigo %}" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                    
                    
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
