{% extends "base/base.html" %}

{% block title %}
  Crear Almacen
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form.nombre.label_tag }}
        {{ form.nombre }}
        {{ form.nombrecalle.label_tag }}
        {{ form.nombrecalle }}
        {{ form.num_calle.label_tag }}
        {{ form.num_calle }}
        {{ form.colonia.label_tag }}
        {{ form.colonia }}
        {{ form.codigo_postal.label_tag }}
        {{ form.codigo_postal }}
        <button type="submit" class="btn btn-outline-success">Agregar almacen</button>
        <a href="{% url 'core:list_almacen' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}


