{% extends "base/base.html" %}

{% block title %}
  Eliminar almacen
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Estás seguro de que deseas eliminar al almacen "{{ object }}"?
        <button type="submit" class="btn btn-outline-danger">Eliminar almacen</button>
        <a href="{% url 'core:list_almacen'%}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}


