{% extends "base/base.html" %}

{% block title %}
  DETAIL ALMACEN VIEW
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ object.nombre }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Nombre del Almacen: {{ object.nombre }}</strong> <br>
          Nombre de calle: {{ object.nombreCalle }} <br>
          Numero de calle: {{ object.num_calle }}
          Colonia: {{ object.colonia }}
          Codigo postal: {{ object.codigo_postal }}
        </div>
      </div>
    </div>
</div>

<a href="{% url 'core:List_Clientes' %}">Volver a la lista de almacenes</a>
{% endblock content %}
