{% extends 'base/base.html' %}
{% block title %} LIST Clients {% endblock title %}

{% block content %}
    <a href="{% url 'core:create_almacen' %}" class="btn btn-outline-success form-control">Anadir nuevo Almacen</a>
    <h1>Listado de Almacenes</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre del almacen</th>
                <th>Nombre de calle</th>
                <th>Numero de calle</th>
                <th>Colonia</th>
                <th>Codigo postal</th>
            </tr>
        </thead>
        <tbody>
            {% for Almacen in Almacen %}  
                <tr>
                    <td>{{ Almacen.nombre }}</td>
                    <td>{{ Almacen.nombreCalle }}</td>
                    <td>{{ Almacen.num_calle }}</td>
                    <td>{{ Almacen.colonia }}</td>
                    <td>{{ Almacen.codigo_postal }}</td>
                    <td>
                        <a href="{% url 'core:detail_almacen' Almacen.codigo %}" class="btn btn-outline-info">Detalles</a>
                        <a href="{% url 'core:update_almacen' Almacen.codigo %}" class="btn btn-outline-warning">Actualizar</a>
                        <a href="{% url 'core:delete_almacen' Almacen.codigo %}" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                    
                    
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
