{% extends "base/base.html" %}

{% block title %}
  Añadir Cambio
{% endblock title %}

{% block content %}
    <form action="{% url 'core:create_cambio' %}" method="post" class="form">
        {% csrf_token %}
        {{ form.fecha.label_tag }}
        {{ form.fecha }}
        {{ form.descripcion.label_tag }}
        {{ form.descripcion }}
        {{ form.pedido.label_tag }}
        {{ form.pedido }}
        {{ form.almacen.label_tag }}
        {{ form.almacen }}
        <button type="submit" class="btn btn-outline-success">Agregar Cambio</button>
        <a href="{% url 'core:list_cambio' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}


