{% extends "base/base.html" %}

{% block title %}
  Eliminar Cambio
{% endblock title %}

{% block content %}
  <form action="{% url 'core:delete_cambio' object.codigo %}" method="post">
    {% csrf_token %}
    <p>¿Estás seguro de que deseas eliminar el cambio "{{ object }}"?</p>
    <button type="submit" class="btn btn-outline-danger">Eliminar cambio</button>
    <a href="{% url 'core:list_cambio' %}" class="btn btn-outline-warning">Cancelar</a>
  </form>
{% endblock content %}
