{% extends "base/base.html" %}

{% block title %}
  Detalles del Cambio
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Detalles del Cambio {{ object.codigo }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Código del Cambio: {{ object.codigo }}</strong> <br>
          Fecha: {{ object.fecha }} <br>
          Descripción: {{ object.descripcion }} <br>
          Pedido: {{ object.pedido }} <br>
          Almacén: {{ object.almacen }}
        </div>
      </div>
    </div>
</div>

<a href="{% url 'core:list_cambio' %}">Volver a la lista de cambios</a>
{% endblock content %}
