{% extends 'base/base.html' %}
{% block title %} Listado de Cambios {% endblock title %}

{% block content %}
    <a href="{% url 'core:create_cambio' %}" class="btn btn-outline-success form-control">Añadir nuevo Cambio</a>
    <h1>Listado de Cambios</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Pedido</th>
                <th>Almacén</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cambio in Cambios %}
                <tr>
                    <td>{{ cambio.codigo }}</td>
                    <td>{{ cambio.fecha }}</td>
                    <td>{{ cambio.descripcion }}</td>
                    <td>{{ cambio.pedido }}</td>
                    <td>{{ cambio.almacen }}</td>
                    <td>
                        <a href="{% url 'core:detail_cambio' cambio.codigo %}" class="btn btn-outline-info">Detalles</a>
                        <a href="{% url 'core:update_cambio' cambio.codigo %}" class="btn btn-outline-warning">Actualizar</a>
                        <a href="{% url 'core:delete_cambio' cambio.codigo %}" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
