{% extends "base/base.html" %}

{% block title %}
  Actualizar Cambio
{% endblock title %}

{% block content %}
    <form action="{% url 'core:update_cambio' object.codigo %}" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Actualizar Cambio</button>
        <a href="{% url 'core:list_cambio' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
