{% extends "base/base.html" %}
{% block tittle %} Index View {% endblock tittle %}

{%block content %}
<div class="container mt-5">
    <div class="bg-body title-bar">
        <div class="container-xxl">
            <h1 class="display-1">SOBRE NOSOTROS</h1>
        </div>
    </div><br>
    <p>Bienvenido a <strong>MC</strong>, tu destino para encontrar una amplia variedad de materiales y herramientas de
        construcción. Nos enorgullece ofrecer productos de alta calidad que satisfacen las necesidades de profesionales
        y entusiastas de la construcción.</p>

    <h4>Nuestra Misión</h4>
    <p>Nuestra misión es proporcionar a nuestros clientes productos de construcción de alta calidad que faciliten y
        mejoren sus proyectos. Nos esforzamos por ser el principal proveedor de materiales y herramientas en la
        industria de la construcción.</p>

    <h4>Productos y Servicios</h4>
    <p>En <strong>MC</strong>, ofrecemos una amplia gama de productos, desde materiales básicos como cemento y aceros,
        hasta herramientas especializadas y equipos de seguridad. También proporcionamos servicios de asesoramiento
        técnico para garantizar que nuestros clientes tomen decisiones informadas.</p>

    <h4>Compromiso con la Calidad</h4>
    <p>Trabajamos directamente con fabricantes de renombre para garantizar que cada producto en nuestro inventario
        cumpla con los más altos estándares de calidad. Nuestro compromiso con la calidad se refleja en la satisfacción
        y lealtad de nuestros clientes.</p>

    <h4>Equipo de Expertos</h4>
    <p>Nuestro equipo está formado por profesionales con experiencia en la industria de la construcción. Estamos aquí
        para brindarte el conocimiento y la asistencia que necesitas para llevar a cabo tus proyectos de manera exitosa.
    </p>

    <h4>Gracias por Elegirnos</h4>
    <p>Agradecemos a nuestros clientes por elegirnos como su proveedor de confianza. En <strong>MC</strong>, estamos
        comprometidos a seguir siendo tu socio confiable en todos tus proyectos de construcción.</p>
</div>



{%endblock content %}