{% extends "base/base.html" %}
{% block tittle %} Index View {% endblock tittle %}

{%block content %}
<div class="container mt-5">
    <div class="bg-body title-bar">
        <div class="container-xxl">
          <h1 class="display-1">CONTACTO</h1>
        </div>
      </div><br>
    <p>¡Nos encantaría escuchar de ti! Contáctanos para cualquier pregunta, comentario o consulta relacionada con nuestros productos y servicios.</p>

    <div class="row">
        <div class="col-md-6">
            <h4>Información de Contacto</h4>
            <p><strong>Dirección:</strong> Carretera Libre Tijuana-Tecate Km 10 Fracc. El Refugio, Quintas Campestre, 22253 Redondo, B.C.</p>
            <p><strong>Email:</strong> info@elconstructor.com</p>
            <p><strong>Teléfono:</strong> +52 664 800 0096</p>
        </div>
        <div class="col-md-6">
            <h4>Formulario de Contacto</h4>
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Tu Nombre">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="tucorreo@ejemplo.com">
                </div>
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="5" placeholder="Tu mensaje"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>
        </div>
    </div>
</div>

{%endblock content %}