{% extends "base/base.html" %}
{% block tittle %} Index View {% endblock tittle %}

{% block content %}
{% load static %}

<!-- CARRUSEL -->
<br>
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="5000">
            <img src="{% static 'images/BANNERS/1.png' %}" class="d-block mx-auto w-50" alt="Banner 1"
                style="border-radius: 10px;">
        </div>
        <div class="carousel-item" data-interval="5000">
            <img src="{% static 'images/BANNERS/2.png' %}" class="d-block mx-auto w-50" alt="Banner 2"
                style="border-radius: 10px;">
        </div>
        <div class="carousel-item" data-interval="5000">
            <img src="{% static 'images/BANNERS/3.png' %}" class="d-block mx-auto w-50" alt="Banner 3"
                style="border-radius: 10px;">
        </div>
    </div>
</div>

<br>
<hr>

<!-- CATEGORIAS -->
<div class="container mt-5">
    <h2 class="mb-4">Categorías</h2>
    <div class="row text-center text-primary">
        <div class="col">
            <i class="bi bi-bag-check" style="font-size: 3rem;"></i>
            <h5>Cemento</h5>
            <a href="#" class="btn btn-primary">Explorar</a>
        </div>

        <div class="col">
            <i class="bi bi-tools" style="font-size: 3rem;"></i>
            <h5>Aceros</h5>
            <a href="#" class="btn btn-primary">Explorar</a>
        </div>

        <div class="col">
            <i class="bi bi-paint-bucket" style="font-size: 3rem;"></i>
            <h5>Acabados</h5>
            <a href="#" class="btn btn-primary">Explorar</a>
        </div>

        <div class="col">
            <i class="bi bi-droplet" style="font-size: 3rem;"></i>
            <h5>Plomería</h5>
            <a href="#" class="btn btn-primary">Explorar</a>
        </div>

        <div class="col">
            <i class="bi bi-lightning" style="font-size: 3rem;"></i>
            <h5>Material Eléctrico</h5>
            <a href="#" class="btn btn-primary">Explorar</a>
        </div>

        <div class="col">
            <i class="bi bi-tools" style="font-size: 3rem;"></i>
            <h5>Herramientas</h5>
            <a href="#" class="btn btn-primary">Explorar</a>
        </div>

        <div class="col">
            <i class="bi bi-hammer" style="font-size: 3rem;"></i>
            <h5>Ferretería</h5>
            <a href="#" class="btn btn-primary">Explorar</a>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="#" class="btn btn-outline-primary">Ver Catálogo Completo</a>
    </div>
</div>

<br>
<hr>

<!--MAS VENDIDOS -->
<div class="container mt-5">
    <h2 class="mb-4">Artículos Más Vendidos</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Tarjeta 1 -->
        <div class="col">
            <div class="card">
                <img src="imagen1.jpg" class="card-img-top" alt="Artículo 1">
                <div class="card-body">
                    <h5 class="card-title">Artículo 1</h5>
                    <p class="card-text">Descripción corta del artículo 1.</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 2 -->
        <div class="col">
            <div class="card">
                <img src="imagen2.jpg" class="card-img-top" alt="Artículo 2">
                <div class="card-body">
                    <h5 class="card-title">Artículo 2</h5>
                    <p class="card-text">Descripción corta del artículo 2.</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>

        <!-- Tarjeta 3 -->
        <div class="col">
            <div class="card">
                <img src="imagen3.jpg" class="card-img-top" alt="Artículo 3">
                <div class="card-body">
                    <h5 class="card-title">Artículo 3</h5>
                    <p class="card-text">Descripción corta del artículo 3.</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- RESENAS -->
<div class="container mt-5">
    <h2 class="mb-4">Reseñas de Clientes</h2>

    <div id="carouselReviews" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- Reseña 1 -->
            <div class="carousel-item active">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cliente 1</h5>
                        <p class="card-text">"Excelente producto, estoy muy satisfecho con mi compra. ¡Altamente
                            recomendado!"</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Fecha de la reseña</small>
                    </div>
                </div>
            </div>

            <!-- Reseña 2 -->
            <div class="carousel-item">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cliente 2</h5>
                        <p class="card-text">"El servicio al cliente es excepcional. Resolvieron rápidamente mi problema
                            y me brindaron una solución efectiva."</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Fecha de la reseña</small>
                    </div>
                </div>
            </div>

            <!-- Agrega más tarjetas de reseñas según sea necesario -->
        </div>
    </div>
</div>



<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




{% endblock content %}