{% extends "base/base.html" %}




{% block title %} LogOut View {% endblock title %}

{% block content %}
    {% if request.user.is_authenticated %}
    {% comment %} <a href="{% url 'home:logout' %}" class="btn btn-link">LogOut</a> {% endcomment %}
        <h1>Hola {{ request.user }} te estas apunto de cerrar la seccion</h1>
        <button href="{% url 'home:logout' %}" class="btn btn-outline-danger"> De verdad Quieres salir?</button>
        
            {% endfor %}
        
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
                {% comment %} {{ form }} {% endcomment %}
                <br><hr>
                <button type="submit" class="btn btn-outline-success">Que estas haciendo aqui sin usuario?</button>
                <br>
        </form>
        <p>
            Si no tienes una cuenta registrate <a href="{% url 'home:signup' %}" class="btn btn-link">aqui</a>

            <br>

            Si ya tienes cuenta, logeate <a href="{% url 'home:login' %}" class="btn btn-link">aqui</a>
        </p>
    {% endif %}    
    
{% endblock content %}