{% extends "base/base.html" %}

{% block title %}
  Eliminar Proveedor
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Estás seguro de que deseas eliminar al proveedor "{{ object }}"?
        <button type="submit" class="btn btn-outline-danger">Eliminar Proveedor</button>
        <a href="{% url 'core:List_Proveedor' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
