{% extends "base/base.html" %}

{% block title %}
  Listado de Proveedores
{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in Proveedo %}
                <tr>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.correo }}</td>
                    <td>
                        <a href="{% url 'core:detailProveedor' proveedor.pk %}" class="btn btn-info">Detalles</a>
                        <a href="{% url 'core:updateProveedor' proveedor.pk %}" class="btn btn-warning">Actualizar</a>
                        <a href="{% url 'core:deleteProveedor' proveedor.pk %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'core:createProveedor' %}" class="btn btn-success">Agregar Proveedor</a>
{% endblock content %}
