{% extends "base/base.html" %}

{% block title %}
  Actualizar Proveedor
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form.nombre.label_tag }}
        {{ form.nombre }}
        {{ form.correo.label_tag }}
        {{ form.correo }}
        <button type="submit" class="btn btn-outline-success">Actualizar Proveedor</button>
        <a href="{% url 'core:List_Proveedor' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
