{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block tittle %}{%endblock tittle %}</title>
  <link rel="stylesheet" href="{% static 'css/boosted.min.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


  <!-- <script src="{% static 'js/jquery-3.6.2.min.js' %}"></script> -->

  <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/boostrap/min.css' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script> -->





  <!-- <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->







</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg" style="background-color: darkorange;">
      <div class="container">
        <a class="navbar-brand" href="#">MC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}" style="color: white;">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:Catalogo' %}" style="color: white;">Catalogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:contacto' %}" style="color: white;">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home:about' %}" style="color: white;">Sobre Nosotros</a>
            </li>

            <li class="nav-item">
              {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'core:administracion' %}" style="color: white;">Administración</a>
              {% else %}
    
              {% endif %}
            </li>
          </ul>
          <ul></ul>
          <ul></ul>
          <ul></ul>
          <ul></ul>
          <ul></ul>
          <ul></ul>
          <!-- Nuevo div para iniciar sesión o registrarse -->
          <div class="d-flex">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'home:logout' %}" style="color: white;">Cerrar Sesión</a>
                {% else %}
                <a class="nav-link" href="{% url 'home:login' %}" style="color: white;">Iniciar Sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home:signup' %}" style="color: white;">Registrarse</a>
              </li>
              {% endif %}
            </ul>
          </div>
    
        </div>
      </div>
    </nav>
    
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col">

      </div>
      <div>
        {% comment %} <div class="col -18"> {% endcomment %}
          {%block content %}

          {%endblock content %}

          <br>
        </div>



      </div>

    </div>


  </div>



  <!-- Remove the container if you want to extend the Footer to full width. -->
  <!-- {% comment %} <div class="container my-5"> {% endcomment %} -->
  <div class="my-18 ">

    <footer class="bg-dark text-light text-center py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h5>Contacto</h5>
            <p>Carretera Libre Tijuana-Tecate Km 10 Fracc. El Refugio, Quintas Campestre, 22253 Redondo, B.C.</p>
            <p>Email: info@elconstructor.com</p>
            <p>Teléfono: +52 664 800 0096</p>
          </div>
          <div class="col-md-6">
            <h5>Síguenos</h5>
            <a href="#" class="text-light me-2"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i></a>
            <a href="#" class="text-light me-2"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
        <div class="mt-3">
          <p>&copy; 2023 MATERIALES DE CONSTRUCCION</p>
        </div>
      </div>
    </footer>
  </div>
  {% comment %} </div> {% endcomment %}
  <!-- End of .container -->





  <script src="{% static 'js/jquery-3.6.2.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/boosted.min.js' %}"></script>
  <script src="{% static 'js/bootstrap/min.css' %}"></script>



</body>


</html>

<!-- Con los {%load static %} que estan en el archivo los paso pa todos, es herencia -->