{% extends "base/base.html" %}

{% block title %}
  Eliminar Cliente
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Estás seguro de que deseas eliminar al cliente "{{ object }}"?
        <button type="submit" class="btn btn-outline-danger">Eliminar Cliente</button>
        <a href="{% url 'core:List_Clientes'%}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}


