{% extends 'base/base.html' %}

{% block title %} Administacion {% endblock title %}

{% block content %}


<h1>Listado de administacion</h1>

<h2>Materiales</h2>
<form action="{% url 'core:list_Mat' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de materiales</button>
</form>

<h2>Pedidos</h2>
<form action="{% url 'core:list_pedido' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de pedidos</button>
</form>
<h2>Pagos</h2>
<form action="{% url 'core:list_Pago' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de pagos</button>
</form>  
{% comment %} <h2>Cambios</h2>
<form action="{% url 'core:list_cambio' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de cambios</button>
</form>   {% endcomment %}
<h2>Tipos</h2>
<form action="{% url 'core:list_tipos' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de tipos</button>
</form>

<h2>Clientes</h2>
<form action="{% url 'core:List_Clientes' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de clientes</button>
</form>
<h2>Lugar</h2>
<form action="{% url 'core:listLugar' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de lugares</button>
</form>
<h2>Almacen</h2>
<form action="{% url 'core:list_almacen' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de almacenes</button>
</form> 
<h2>Resenas</h2>
<form action="{% url 'core:list_resena' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de resenas</button>
</form>  
<h2>Proveedores</h2>
<form action="{% url 'core:List_Proveedor' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de proveedores</button>
</form>  
<h2>Compra</h2>
<form action="{% url 'core:list_compra' %}" method="get">
    <button type="submit" class="btn btn-primary">Ir a la lista de compras</button>
</form>  



{% endblock content %}