{% extends "base/base.html" %}

{% block title %}
  Anadir Pago
{% endblock title %}

{% block content %}
    <form form method="post" class="form">
        {% csrf_token %}
        {{ form.montopago.label_tag }}
        {{ form.montopago }}
        <br>
        {{ form.concepto.label_tag }}
        {{ form.concepto }} 
        <br>
        {{ form.pedido.label_tag }}
        {{ form.pedido }} 
        <br>
        {% comment %} {{ form.as_p }} {% endcomment %}
        <button type="submit" class="btn btn-outline-success">Agregar Pago</button>
        <a href="{% url 'core:list_Pago' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}


