{% extends "base/base.html" %}

{% block title %}
  Eliminar Pago
{% endblock title %}

{% block content %}
  <form action="{% url 'core:delete_Pago' object.codigo %}" method="post">
    {% csrf_token %}
    <p>¿Estás seguro de que deseas eliminar el pago "{{ object }}"?</p>
    <button type="submit" class="btn btn-outline-danger">Eliminar pago</button>
    <a href="{% url 'core:list_Pago' %}" class="btn btn-outline-warning">Cancelar</a>
  </form>
{% endblock content %}
