{% extends "base/base.html" %}

{% block title %}
  Detalles del Pago
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Detalles del Pago {{ object.codigo }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Código del Pago: {{ object.codigo }}</strong> <br>
          Fecha: {{ object.fecha }} <br>
          Número de Pago: {{ object.num_pago }} <br>
          Monto del Pago: {{ object.montopago }} <br>
          Concepto: {{ object.concepto }} <br>
          Saldo: {{ object.saldo }} <br>
          Pedido: {{ object.pedido }}
        </div>
      </div>
    </div>
</div>

<a href="{% url 'core:list_Pago' %}">Volver a la lista
