{% extends 'base/base.html' %}
{% block title %} Listado de Pagos {% endblock title %}

{% block content %}
    <a href="{% url 'core:create_Pago' %}" class="btn btn-outline-success form-control">Añadir nuevo Pago</a>
    <h1>Listado de Pagos</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Fecha</th>
                <th>Número de Pago</th>
                <th>Monto del Pago</th>
                <th>Concepto</th>
                <th>Saldo</th>
                <th>Pedido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in Pago %}
                <tr>
                    <td>{{ pago.codigo }}</td>
                    <td>{{ pago.fecha }}</td>
                    <td>{{ pago.num_pago }}</td>
                    <td>{{ pago.montopago }}</td>
                    <td>{{ pago.concepto }}</td>
                    <td>{{ pago.saldo }}</td>
                    <td>{{ pago.pedido.codigo }}</td>
                    <td>
                        <a href="{% url 'core:detail_Pago' pago.codigo %}" class="btn btn-outline-info">Detalles</a>
                        <a href="{% url 'core:update_Pago' pago.codigo %}" class="btn btn-outline-warning">Actualizar</a>
                        <a href="{% url 'core:delete_Pago' pago.codigo %}" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
