{% extends "base/base.html" %}

{% block title %}
  Actualizar Pago
{% endblock title %}

{% block content %}
    <form action="{% url 'core:update_Pago' object.codigo %}" method="post" class="form">
        {% csrf_token %}
        {{ form.montopago.label_tag }}
        {{ form.montopago }}
        <br>
        {{ form.concepto.label_tag }}
        {{ form.concepto }} 
        <br>
        {{ form.pedido.label_tag }}
        {{ form.pedido }} 
        <br>
        <button type="submit" class="btn btn-outline-primary">Actualizar Pago</button>
        <a href="{% url 'core:list_Pago' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
