<!-- En tu create_compra.html -->

{% extends "base/base.html" %}

{% block title %}
  Añadir Compra
{% endblock title %}

{% block content %}
  <div class="container mt-4">
    <h1>Añadir Compra</h1>
    <form method="post" class="form">
      {% csrf_token %}
      
      <div class="mb-3">
        <label for="{{ form.descripcion.id_for_label }}" class="form-label">Descripción:</label>
        {{ form.descripcion }}
      </div>
      <div class="mb-3">
        <label for="{{ form.almacen.id_for_label }}" class="form-label">Almacén:</label>
        {{ form.almacen }}
      </div>
      <div class="mb-3">
        <label for="{{ form.proveedor.id_for_label }}" class="form-label">Proveedor:</label>
        {{ form.proveedor }}
      </div>

      <div class="mb-3">
        <label class="form-label">Seleccionar materiales:</label>
        {% for material in form.materiales %}
          <div class="form-check">
            {{ material }}
            <input type="number" name="{{ material.codigo }}" class="form-control" placeholder="Cantidad" />
          </div>
        {% endfor %}
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-success">Agregar Compra</button>
        <a href="{% url 'core:list_compra' %}" class="btn btn-warning">Cancelar y regresar a la lista</a>
      </div>
    </form>
  </div>
{% endblock content %}
