{% extends "base/base.html" %}

{% block title %}
  Eliminar Compra
{% endblock title %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <p>¿Estás seguro de que deseas eliminar la compra con código "{{ object.codigo }}" del proveedor "{{ object.proveedor.nombre }}"?</p>
    <p class="text-danger">Esta acción eliminará todos los registros asociados en la tabla MaterialCompra.</p>
    <button type="submit" class="btn btn-danger">Eliminar Compra y Registros Asociados</button>
    <a href="{% url 'core:list_compra' %}" class="btn btn-outline-warning">Cancelar</a>
  </form>
{% endblock content %}
