{% extends "base/base.html" %}

{% block title %}
  Detalle de Compra
{% endblock title %}

{% block content %}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Compra #{{ object.codigo }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Descripción de la Compra: {{ object.descripcion }}</strong>
          <br>
          Fecha de la Compra: {{ object.fecha }}
          <br>
          Cantidad Total de Productos: {{ object.prodtotal }}
          <br>
          Subtotal: {{ object.subtotal }}
          <br>
          IVA: {{ object.iva }}
          <br>
          Total: {{ object.total }}
          <br>
          Proveedor: {{ object.proveedor.nombre }}
          <br>
          Almacén: {{ object.almacen.nombre }}
        </div>
      </div>
    </div>
  </div>

  <a href="{% url 'core:list_compra' %}">Volver a la lista de compras</a>
{% endblock content %}
