{% extends 'base/base.html' %}

{% block title %} Lista de Compras {% endblock title %}

{% block content %}
    <h1>Listado de Compras</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Código</th>
            <th>Descripción de la compra</th>
            <th>Fecha de la compra</th>
            <th>Cantidad total de productos</th>
            <th>Subtotal</th>
            <th>IVA</th>
            <th>Total</th>
            <th>Proveedor</th>
            <th>Almacén</th>
        </thead>
        <tbody>
            {% for compra in Compra %}
                <tr>
                    <td>{{ compra.codigo }}</td>
                    <td>{{ compra.descripcion }}</td>
                    <td>{{ compra.fecha }}</td>
                    <td>{{ compra.prodtotal }}</td>
                    <td>{{ compra.subtotal }}</td>
                    <td>{{ compra.iva }}</td>
                    <td>{{ compra.total }}</td>
                    <td>{{ compra.proveedor.nombre }}</td>
                    <td>{{ compra.almacen.nombre }}</td>
                    <td><a href="{% url 'core:detail_compra' compra.codigo %}" class="btn btn-outline-info">Detalles</a></td>
                    <td><a href="{% url 'core:update_compra' compra.codigo %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td><a href="{% url 'core:delete_compra' compra.codigo %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'core:create_compra' %}" class="btn btn-success">Agregar Compra</a>

{% endblock content %}
