{% extends "base/base.html" %}

{% block title %}
    Añadir/Actualizar Compra
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1>{% if form.instance.codigo %}Actualizar{% else %}Añadir{% endif %} Compra</h1>
        <form method="post" class="form">
            {% csrf_token %}
            
            <!-- Campos generales de la Compra -->
            <div class="mb-3">
                <label for="{{ form.descripcion.id_for_label }}" class="form-label">Descripción:</label>
                {{ form.descripcion }}
            </div>
            <div class="mb-3">
                <label for="{{ form.prodtotal.id_for_label }}" class="form-label">Cantidad total de productos:</label>
                {{ form.prodtotal }}
            </div>
            <div class="mb-3">
                <label for="{{ form.proveedor.id_for_label }}" class="form-label">Proveedor:</label>
                {{ form.proveedor }}
            </div>
            <div class="mb-3">
                <label for="{{ form.almacen.id_for_label }}" class="form-label">Almacén:</label>
                {{ form.almacen }}
            </div>

            <!-- Lista de materiales -->
            <div class="mb-3">
                <label class="form-label">Seleccionar materiales:</label>
                {% for material in form.materiales %}
                    <div class="form-check">
                        {{ material }}
                        <input type="number" name="cantidad_{{ material.value }}" class="form-control" placeholder="Cantidad" />
                    </div>
                {% endfor %}
            </div>

            <!-- Selección de nuevo material y cantidad -->
            <div class="mb-3">
                <label for="{{ form.nuevo_material.id_for_label }}" class="form-label">Seleccionar nuevo material:</label>
                {{ form.nuevo_material }}
            </div>
            <div class="mb-3">
                <label for="{{ form.cantidad_nuevo_material.id_for_label }}" class="form-label">Cantidad del nuevo material:</label>
                {{ form.cantidad_nuevo_material }}
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-outline-primary">
                    {% if form.instance.codigo %}Actualizar{% else %}Añadir{% endif %} Compra
                </button>
                <a href="{% url 'core:list_compra' %}" class="btn btn-outline-warning">Cancelar</a>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Manejar eventos de cambio en las checkboxes
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener("change", function () {
                    var cantidadInput = document.querySelector('input[name="cantidad_' + checkbox.value + '"]');
                    cantidadInput.disabled = !checkbox.checked;
                });
            });
        });
    </script>
{% endblock content %}
