    {% extends "base/base.html" %}

    {% block title %}
    Anadir Material
    {% endblock title %}

    {% block content %}
    <form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.nombre.label_tag }}
    {{ form.nombre }}
    {{ form.descripcion.label_tag }}
    {{ form.descripcion }}
    {{ form.preciocompra.label_tag }}
    {{ form.preciocompra }}
    {{ form.tipo.label_tag }}
    {{ form.tipo }}
    {{ form.imagen.label_tag }}
    {{ form.imagen }}
    <br>
    <button type="submit" class="btn btn-outline-success">Agregar Material</button>
    <a href="{% url 'core:list_Mat' %}" class="btn btn-outline-warning">Cancelar y regresar a la lista</a>
    </form>

    {% endblock content %}
