    {% extends "base/base.html" %}

    {% block title %}
    Eliminar Material
    {% endblock title %}

    {% block content %}
        <form action="" method="post">
            {% csrf_token %}
            ¿Estás seguro de que deseas eliminar al cliente "{{ object.nombre }}"?
            <button type="submit" class="btn btn-outline-danger">Eliminar Material</button>
            <a href="{% url 'core:List_Clientes'%}" class="btn btn-outline-warning">Cancelar</a>
        </form>
    {% endblock content %}


