    {% extends "base/base.html" %}

    {% block title %}
    Detalle de Material
    {% endblock title %}

    {% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{ object.nombre }}
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            <strong>Nombre del Material: {{ object.nombre }}</strong> 
            <br>
            Descripcion: {{ object.descripcion }} 
            <br>
            Precio de compra: {{ object.preciocompra }}
            <br>
            Precio de venta: {{ object.precioventa }}
            <br>
            Tipo: {{ object.tipo.nombre }}
            </div>
        </div>
        </div>
    </div>

    <a href="{% url 'core:list_Mat' %}">Volver a la lista de materiales</a>
    {% endblock content %}
