    {% extends 'base/base.html' %}

    {% block title %} Lista de Materiales {% endblock title %}

    {% block content %}


    <a href="{% url 'core:create_Mat' %}" class="btn btn-outline-success form-control">Añadir nuevo Material</a>
    <h1>Listado de Materiales</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Código</th>
            <th>Nombre del material</th>
            <th>Descripcion</th>
            <th>Precio del proveedor</th>
            <th>Precio de venta</th>
            <th>Tipo de material</th>
            <th></th>
        </thead>
        <tbody>
            {% for Material in Material %}
                <tr>
                    <td>{{ Material.codigo }}</td>
                    <td>{{ Material.nombre }}</td>
                    <td>{{ Material.descripcion }}</td>
                    <td>{{ Material.preciocompra }}</td>
                    <td>{{ Material.precioventa }}</td>

                    <td>{{ Material.tipo.nombre }}</td>
                    <td><a href="{% url 'core:detail_Mat' Material.codigo %}" class="btn btn-outline-info">Detalles</a></td>
                    <td><a href="{% url 'core:update_Mat' Material.codigo %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td><a href="{% url 'core:delete_Mat' Material.codigo %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    {% endblock content %}
    