    {% extends "base/base.html" %}

    {% block title %}
    Actualizar Material
    {% endblock title %}

    {% block content %}
    <h1>Actualizar Material</h1>
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-primary">Actualizar Material</button>
        <a href="{% url 'core:list_Mat' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
    
    {% endblock content %}
