    {% extends "base/base.html" %}

    {% block title %}
    Anadir Pedido
    {% endblock title %}

    {% block content %}
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.descripcion.label_tag }}
        {{ form.descripcion }}
        <br>
        {{ form.fecha.label_tag }}
        {{ form.fecha }}
        <br>
        {{ form.cantproduct.label_tag }}
        {{ form.cantproduct }}
        <br>
        {{ form.subtotal.label_tag }}
        {{ form.subtotal }}
        <br>
        {{ form.iva.label_tag }}
        {{ form.iva }}
        <br>
        {{ form.total.label_tag }}
        {{ form.total }}
        <br>
        {{ form.totalint.label_tag }}
        {{ form.totalint }}
        <br>
        {{ form.almacen.label_tag }}
        {{ form.almacen }}
        <br>
        {{ form.lugar.label_tag }}
        {{ form.lugar }}
        <br>
        {{ form.cliente.label_tag }}
        {{ form.cliente }}
        <br>
    <br>
    <button type="submit" class="btn btn-outline-success">Agregar Pedido</button>
    <a href="{% url 'core:list_pedido' %}" class="btn btn-outline-warning">Cancelar y regresar a la lista</a>
    </form>

    {% endblock content %}
