{% extends "base/base.html" %}

{% block title %}
Eliminar Pedido
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>¿Estás seguro de que deseas eliminar el pedido con código "{{ object.codigo }}" del cliente "{{object.cliente.nombre}}"?</p>
        <p class="text-danger">Esta acción eliminará todos los registros asociados en la tabla PedMat.</p>
        <button type="submit" class="btn btn-danger">Eliminar Pedido y Registros Asociados</button>
        <a href="{% url 'core:list_pedido'%}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}
