    {% extends "base/base.html" %}

    {% block title %}
    Detalle de Material
    {% endblock title %}

    {% block content %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Pedido #{{ object.codigo }}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Descripción del Pedido: {{ object.descripcion }}</strong> 
                    <br>
                    Fecha del Pedido: {{ object.fecha }}
                    <br>
                    Cantidad de Productos: {{ object.cantproduct }}
                    <br>
                    Subtotal: {{ object.subtotal }}
                    <br>
                    IVA: {{ object.iva }}
                    <br>
                    Total: {{ object.total }}
                    <br>
                    Total con Intereses: {{ object.totalint }}
                    <br>
                    Almacén: {{ object.almacen.nombre }}
                    <br>
                    Lugar: {{ object.lugar.nomcalle }} {{ object.lugar.num_calle }}, {{ object.lugar.colonia }}, {{ object.lugar.codigo_postal }}
                    <br>
                    Cliente: {{ object.cliente.nombre }}
                </div>
            </div>
        </div>
    </div>
    
    <a href="{% url 'core:list_pedido' %}">Volver a la lista de pedidos</a>
    {% endblock content %}
