    {% extends 'base/base.html' %}

    {% block title %} Lista de Pedidos {% endblock title %}

    {% block content %}


    {% comment %} <a href="{% url 'core:create_pedido' %}" class="btn btn-outline-success form-control">Añadir nuevo Pedido</a> {% endcomment %}
<h1>Listado de Pedidos</h1>
<table class="table table-striped table-hover">
    <thead>
        <th>Código</th>
        <th>Descripcion del pedido</th>
        <th>Fecha del pedido</th>
        <th>Cantidad de productos</th>
        <th>Subtotal</th>
        <th>Iva</th>
        <th>Total</th>
        <th>Total con intereses</th>
        <th>Almacen</th>
        <th>Lugar</th>
        <th>Cliente</th>
    </thead>
    <tbody>
        <tbody>
            {% for Pedido in Pedido %}
            <tr>
                <td>{{ Pedido.codigo }}</td>
                <td>{{ Pedido.descripcion }}</td>
                <td>{{ Pedido.fecha }}</td>
                <td>{{ Pedido.cantproduct }}</td>
                <td>{{ Pedido.subtotal }}</td>
                <td>{{ Pedido.iva }}</td>
                <td>{{ Pedido.total }}</td>
                <td>{{ Pedido.totalint }}</td>
                <td>{{ Pedido.almacen.nombre }}</td>
                <td>{{ Pedido.lugar.nomcalle }} {{ Pedido.lugar.num_calle }}, {{ Pedido.lugar.colonia }}, {{ Pedido.lugar.codigo_postal }}</td>
                <td>{{ Pedido.cliente.nombre }}</td>
                <td><a href="{% url 'core:detail_pedido' Pedido.codigo %}" class="btn btn-outline-info">Detalles</a></td>
                <td><a href="{% url 'core:update_pedido' Pedido.codigo %}" class="btn btn-outline-warning">Actualizar</a></td>
                <td><a href="{% url 'core:delete_pedido' Pedido.codigo %}" class="btn btn-outline-danger">Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


    
    {% endblock content %}
    