{% extends "base/base.html" %}

{% block title %}
    Actualizar Pedido
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h1>Actualizar Pedido</h1>
        <form method="post" class="form">
            {% csrf_token %}
            
            <!-- Campos generales del Pedido -->
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                {{ form.descripcion }}
            </div>
            <div class="mb-3">
                <label for="almacen" class="form-label">Almacén:</label>
                {{ form.almacen }}
            </div>
            <div class="mb-3">
                <label for="lugar" class="form-label">Lugar:</label>
                {{ form.lugar }}
            </div>
            <div class="mb-3">
                <label for="cliente" class="form-label">Cliente:</label>
                {{ form.cliente }}
            </div>

            <!-- Materiales existentes -->
            {% for entry in pedmat_entries %}
                <div class="mb-3">
                    <label>{{ entry.material.nombre }}</label>
                    <input type="number" name="materiales_{{ entry.material.codigo }}" value="{{ entry.cantidad }}" class="form-control">
                </div>
            {% endfor %}
            <hr>

            <!-- Selección de nuevo material y cantidad -->
            <div class="mb-3">
                <label for="nuevo_material" class="form-label">Seleccionar nuevo material:</label>
                {{ form.nuevo_material }}
            </div>
            <div class="mb-3">
                <label for="cantidad_nuevo_material" class="form-label">Cantidad del nuevo material:</label>
                {{ form.cantidad_nuevo_material }}
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-outline-primary">Actualizar Pedido</button>
                <a href="{% url 'core:list_pedido' %}" class="btn btn-outline-warning">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}
