{% extends "base/base.html" %}

{% block title %}
  Eliminar Equipo
{% endblock title %}

{% block content %}
<h1>Eliminar Equipo</h1>
<p>¿Estás seguro de que quieres eliminar el equipo "{{ object.nombre }}"?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Eliminar Equipo</button>
  <a href="{% url 'core:list_tipos' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}

