{% extends "base/base.html" %}

{% block title %}
  DETAIL LUGAR VIEW
{% endblock title %}

{% block content %}
<h1>Detalles del Lugar</h1>
  <p>Nombre de la Calle: {{ lugar.nomcalle }}</p>
  <p>Número de Calle: {{ lugar.num_calle }}</p>
  <p>Colonia: {{ lugar.colonia }}</p>
  <p>Código Postal: {{ lugar.codigo_postal }}</p>
  <a href="{% url 'core:listLugar' %}" class="btn btn-outline-warning">Volver</a>
{% endblock content %}

