{% extends 'base/base.html' %}

{% block title %} Lista de ciudades {% endblock title %}

{% block content %}


<a href="{% url 'core:create_lugar' %}" class="btn btn-outline-success form-control">Añadir nuevo lugar</a>
<h1>Listado de Lugares</h1>
<table class="table table-striped table-hover">
    <thead>
        <th>Código</th>
        <th>Nombre de la calle</th>
        <th>Número de Calle</th>
        <th>Colonia</th>
        <th>Código Postal</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for lugar in Lugar %}
            <tr>
                <td>{{ lugar.codigo }}</td>
                <td>{{ lugar.nomcalle }}</td>
                <td>{{ lugar.num_calle }}</td>
                <td>{{ lugar.colonia }}</td>
                <td>{{ lugar.codigo_postal }}</td>
                <td><a href="{% url 'core:detail_lugar' lugar.codigo %}" class="btn btn-outline-info">Detalles</a></td>
                <td><a href="{% url 'core:update_lugar' lugar.codigo %}" class="btn btn-outline-warning">Actualizar</a></td>
                <td><a href="{% url 'core:delete_lugar' lugar.codigo %}" class="btn btn-outline-danger">Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

   
{% endblock content %}
